# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/
*vs/
bin/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# java
*.class
# Ignore virtual environments
venv/
env/

# Ignore Python bytecode/cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore other common Python artifacts
*.log
*.sqlite3
*.db
*.egg-info/
.pytest_cache/
dist/
build/
