<!DOCTYPE html>
<html>

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <div class="container p-5 my-5 bg-primary text-white">
        <h1>Gabriel Serrano Rojas</h1>
        <p>Estudiante de Diseño de Software. Está es mi versión del esqueleto del proyecto con Django y Bootstrap.</p>
    </div>

    <div class="text-center">
        <h2>¡Haz click aquí para saber más!</h2>
        <a href="https://i.imgur.com/zdjwJMT.jpeg" class="btn btn-success">Clickéame</a>
    </div>
</body>

</html>