<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 60vh;
        }
    </style>
</head>
<body>

    <!-- Header -->
    <ul class="list-group list-group-horizontal justify-content-between w-100">
        {% for item in items %}
            <li class="list-group-item flex-fill text-center">
                <h3><a href="{% url item.url_name %}" class="text-decoration-none">{{ item.label }}</a></h3>
            </li>
        {% endfor %}
    </ul>
    

    <!-- Contenido de cada página -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="text-center mt-5">
        <p>&copy; 2024 Mi Sitio Web, hecho con Django y Bootstrap</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
